@import 'variables';
@import 'mixins';

.menu-container {
    width: 250px;
    height: 160px;	
    padding: 10px;
    background-color: $white;
    border-radius: $round-2;
    box-shadow: $dropdown-shadow;

    .menu-list {
        padding: 5px;
        @include dropdownFont();
        cursor: pointer;
        &:hover {
            background-color: #F4F5F7;
        }
    }
}

