@import 'variables';
@import 'mixins';
@import 'Global';

.left-top-menu {

}

.right-top-menu {

}   

.menu-container {
    width: 100%;
    padding: 5px 2px;
    box-sizing: border-box;
    .menu-list {
        padding: 7px;
        @include dropdownFont();
        transition: all .3s;
        cursor: pointer;
        &:hover {
            background-color: #F4F5F7;
        }
    }
}
.menu-list-active {
    background-color: #F4F5F7;
}

.sub-menu-list {
    position: absolute;
    width: 120px;
    padding: 5px 10px;
    background-color: $white;
    border-radius: $round-2;
    box-shadow: $dropdown-shadow; 
}
