/* Color Variables*/
/* Typography */
/* Card Shadows (Mostly going to be using $shadow-1) */
/* Border */
/* Card Border Radius*/
/* Breakpoints
How to use-

.class-to-be-used-on {
     @include breakpoint($variable-name) {

       #CSS styles here
     }
   }

*/
/* Media Query Classes

To be used for rendering a different layout. xs is for small-phones, sm for medium-phones md for tablets, lg for small laptops.

*/
.hidden-xs-up {
  display: none !important; }

@media (max-width: 575px) {
  .hidden-xs-down {
    display: none !important; } }

@media (min-width: 576px) {
  .hidden-sm-up {
    display: none !important; } }

@media (max-width: 767px) {
  .hidden-sm-down {
    display: none !important; } }

@media (min-width: 992px) {
  .hidden-md-up {
    display: none !important; } }

@media (max-width: 991px) {
  .hidden-md-down {
    display: none !important; } }

@media (min-width: 992px) {
  .hidden-lg-up {
    display: none !important; } }

@media (max-width: 1199px) {
  .hidden-lg-down {
    display: none !important; } }

@media (min-width: 1200px) {
  .hidden-xl-up {
    display: none !important; } }

@media (max-width: 1200px) {
  .hidden-xl-down {
    display: none !important; } }

/* Color Variables*/
/* Typography */
/* Card Shadows (Mostly going to be using $shadow-1) */
/* Border */
/* Card Border Radius*/
/* Breakpoints
How to use-

.class-to-be-used-on {
     @include breakpoint($variable-name) {

       #CSS styles here
     }
   }

*/
/* Media Query Classes

To be used for rendering a different layout. xs is for small-phones, sm for medium-phones md for tablets, lg for small laptops.

*/
.hidden-xs-up {
  display: none !important; }

@media (max-width: 575px) {
  .hidden-xs-down {
    display: none !important; } }

@media (min-width: 576px) {
  .hidden-sm-up {
    display: none !important; } }

@media (max-width: 767px) {
  .hidden-sm-down {
    display: none !important; } }

@media (min-width: 992px) {
  .hidden-md-up {
    display: none !important; } }

@media (max-width: 991px) {
  .hidden-md-down {
    display: none !important; } }

@media (min-width: 992px) {
  .hidden-lg-up {
    display: none !important; } }

@media (max-width: 1199px) {
  .hidden-lg-down {
    display: none !important; } }

@media (min-width: 1200px) {
  .hidden-xl-up {
    display: none !important; } }

@media (max-width: 1200px) {
  .hidden-xl-down {
    display: none !important; } }

.menu-container {
  width: 100%;
  padding: 5px 10px;
  box-sizing: border-box; }
  .menu-container .menu-list {
    padding: 7px;
    color: #4A4A4A;
    font-size: 14px;
    transition: all .3s;
    cursor: pointer; }
    .menu-container .menu-list:hover {
      background-color: #F4F5F7; }

.sub-menu-list {
  position: absolute;
  width: 120px;
  padding: 5px 10px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); }
